.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  padding: 6rem;
  min-height: 100vh;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.td,
.th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

.title {
  padding: 20px 0;
}

.action {
  cursor: pointer;
}

.actionWrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 8px;
}


/** 
  Pagination css
*/

.paginationContainer {
  margin-top: 24px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.form {
  padding: 16px;
  border-radius: 4px;

  border: 1px solid #f5f5f5;
  margin-bottom: 20px;
}

.input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.error {
  color: rgb(167, 50, 50);
  margin-bottom: 12px;
}